{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Model UI - Home {% endblock title %}</title>
    {% block extrahead %}{% endblock extrahead %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>