{% extends 'base.html' %}
{% load static %}

{% block title %}Home Page{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">     
{% endblock extrahead %}

{% block content %}
<div class="container">
    <div class="left-column"> 
        <form action="/" method="POST" id="myForm" enctype="multipart/form-data" >
            <!-- Row 1: Button with List -->
            <div class="row"> <label for="selectList">Select an Option:</label> 
                <select id="selectList" name="select_option">
                    <option value="llama3.2:3b">General LLM</option>
                    <option value="llama3.2-vision">Vison LLM</option>
                    <option value="qwen2.5-coder:32b">Qwen 2.5</option>
                </select> 
            </div> 
            
            <!-- Row 2: Image -->
            <div class="row"> 
                <img src=" {% static 'images/aihub.png' %} " alt="robot picture" class="image">
            </div>
            <!-- Row 3: Input Field and Buttons -->
            <div class="row"> 
                <input type="text" id="textInput" name="text_input" placeholder="Enter text"> 
                <input type="file" id="fileInput" name="file_input">
                <button type = "submit" id="submitButton">Submit</button> 
            </div>
        </form>
    </div>


    <div class="right-column">
        <div class="output">
            <h2 style="color: antiquewhite;">Answer:</h2>
            <p id="outputText" style="color: antiquewhite;" >Output Text Here</p> 
            <img id="outputImage" src=" {% static 'images/th.jpeg' %}" alt="Output Image" class="output-image">
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
    <script>
        document.getElementById('submitButton').addEventListener('click', function () {
            document.getElementById('msg').innerHTML = 'Button clicked';
        });
    </script>
{% endblock extra_js %}
