{% extends 'base.html' %}
{% load static %}

{% block title %}Home Page{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">     
{% endblock extrahead %}

{% block content %}
<div class="container">
    <div class="left-column"> 
        <form onsubmit='return generate_content()' method="POST" id="myForm" enctype="multipart/form-data" >
            {% csrf_token %}
            <!-- Row 1: Button with List -->
            <div class="row"> <label for="selectList">Select an Option:</label> 
                <select id="selectList" name="select_option">
                    <option value="deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5Bge">General LLM</option>
                    <option value="stabilityai/stable-diffusion-2-1">Vison LLM</option>
                    <option value="qwen2.5-coder:32b">Qwen 2.5</option>
                </select> 
            </div> 
            
            <!-- Row 2: Image -->
            <div class="row"> 
                <img src=" {% static 'images/aihub.png' %} " alt="robot picture" class="image">
            </div>
            <!-- Row 3: Input Field and Buttons -->
            <div class="row"> 
                <input type="text" id="textInput" name="prompt" placeholder="Enter text" label = "Enter Text"> 
                <input type="file" id="fileInput" name="file_input">
                <button type = "submit" id="submitButton">Submit</button> 
            </div>
        </form>
    </div>


    <div class="right-column">
        <div class="output">
            <h2 style="color: antiquewhite;">Answer:</h2>
            <p id="outputText" style="color: antiquewhite;" >Output Text Here</p> 
            <img id="outputImage" src=" {% static 'images/th.jpeg' %}" alt="Output Image" class="output-image">
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
    <script>
       function generate_content() {
        const prompt = document.getElementById("textInput").value;
        const model = document.getElementById("selectList").value;
        const file = document.getElementById("fileInput").files[0];
        if (model == 'stabilityai/stable-diffusion-2-1'){
            fetch('/image_from_text', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({'prompt': prompt , 'model': model})
            })
            .then(response => {
            if (!response.ok) {
                return response.json().then(errorData => {
                    throw new Error(errorData.error || 'Something went wrong!');
                });
            }
            return response.json();
            })
            .then(response => {
                    console.log(response);
                    document.getElementById("outputText").innerText = response.response;
                    document.getElementById("outputImage").src = response.image;
                });
            } else {
            fetch('/generate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({'prompt': prompt , 'model': model})
            })
            .then(response => {
            if (!response.ok) {
                return response.json().then(errorData => {
                    throw new Error(errorData.error || 'Something went wrong!');
                });
            }
            return response.json();
            })
            .then(response => {
                    console.log(response);
                    document.getElementById("outputText").innerText = response.response;
                    document.getElementById("outputImage").src = response.image;
            });
        } 
        

        return false;
        }
    </script>
{% endblock extra_js %}
